body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 768px) {
p{
        font-size: 12px;
        text-align: start;
    }
    h1{
        font-size: 20px;
    }
    li{
        font-size: 10px;
    }    
    form{
        width: 80%;
        font-size: 10px;
    }
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Light background for better contrast */
    color: #343a40; /* Dark color for text */
}

.header {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
}

.navbar {
    padding: 1rem; /* Extra padding for the navbar */
}

h2, h5 {
    color: #007bff; /* Use primary color for headings */
}

.card {
    border: none; /* Remove card borders */
    border-radius: 10px; /* Round edges */
    overflow: hidden; /* Ensure the image fits well */
    transition: transform 0.2s; /* Animate hover effect */
}

.card:hover {
    transform: scale(1.05); 
}

.card-body {
    text-align: center; 
}

.footer {
    padding: 2rem 0; 
    text-align: left; 
}

.footer a {
    text-decoration: none; 
}

.footer a:hover {
    text-decoration: underline; 
}

/* Button styles */
.btn {
    width: 100%; 
    margin-bottom: 10px;
    border-radius: 20px; 
}
